h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.carousel-indicators, .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.myBackgroundClaro {
    background-color: rgba(21, 25, 29, 0.09);
}

.myBackgroudEscuro {
    background-color: rgba(21, 25, 29, 0.3);
}

.myDivVantagens {
    width: 325px;
}

.myImage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 0.5em;
    align-items: center;
}
