h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.carousel-indicators, .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.myBackgroundClaro {
    background-color: rgba(21, 25, 29, 0.09);
}

.myBackgroudEscuro {
    background-color: rgba(21, 25, 29, 0.3);
}

.myDivVantagens {
    width: 325px;
}

.myImage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 0.5em;
    align-items: center;
}

.myBox {
    background-color: rgba(21, 25, 29, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 1em;
    transition: 0.2s all;
}

.myBox:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

#vantagens {
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes slide {
    from {
        margin-left: -100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
