h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.myBackgroundClaro {
    background-color: rgba(21, 25, 29, 0.1);
}

.myBackgroudEscuro {
    background-color: rgba(21, 25, 29, 0.3);
}
